<div class="login">
  <div class="row">
   <div class="left">
    <div class="login-image-container">
      <img src="../../../assets/img/forgotpassword.png" alt="login" class="login-image">
    </div>
   </div>
   <div class="right">
    <div class="logo-container">
     <div class="logo">
      <img src="../../../assets/img/logo.png" alt="logo" class="logo-img">
     </div>
    </div>
    <div class="login-container">
      <div class="login-header">
        <div class="login-icon"><i class="fa-regular fa-envelope fa-2xl"></i>
        </div>
        <h2> Email is Already Exist or Not ?? </h2>
      </div>
      <div class="login-body">
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
          </div>
         <!-- <a [routerLink]="['reset-password', userType]" > -->
          <button type="submit" class="btn login-btn" >verify</button>
        <!-- </a> -->
        </form>
        <div class="login-footer">
          <!-- <p class="text-center">you have remember
            <a [routerLink]="userType === 'customer' ? '/login/customer' : '/login/deliverypartner'" class="register-link">
             back to Login
            </a>
          </p> -->

        </div>
      </div>
   </div>
   </div>
</div>
</div>


