<div class="login">
  <div class="row">
   <div class="left">
    <div class="login-image-container">
      <img src="../../../assets/img/forgotpassword.png" alt="login" class="login-image">
    </div>
   </div>
   <div class="right">
    <div class="logo-container">
     <div class="logo">
      <img src="../../../assets/img/logo.png" alt="logo" class="logo-img">
     </div>
    </div>
    <app-notification></app-notification>
    <div class="login-container">

      <div class="login-header">
        <div class="login-icon"><i class="fa-regular fa-envelope fa-2xl"></i>
        </div>
        <h2> Email is Already Exist or Not ?? </h2>
      </div>
      <div class="login-body">
        <app-loader [isLoading]="loading"></app-loader>
        <form  [formGroup]="verifyemailform" (ngSubmit)="verifyemail()" #verifyEmailForm="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email" >
            <small class="text-danger" *ngIf="(submitted || verifyemailform.get('email')?.touched) && verifyemailform.get('email')?.errors?.['required']">
              Email is required
            </small>
            <small class="text-danger" *ngIf="(submitted || verifyemailform.get('email')?.touched) && verifyemailform.get('email')?.errors?.['email']">
              Email is invalid
            </small>
            <small class="text-danger" *ngIf="(submitted || verifyemailform.get('email')?.touched) && verifyemailform.get('email')?.errors?.['pattern']">
              Email is invalid
            </small>
            <small class="text-danger" *ngIf="(submitted || verifyemailform.get('email')?.touched) && verifyemailform.get('email')?.errors?.['minlength']">
              Email minimum length is 10 characters
            </small>
            <small class="text-danger" *ngIf="(submitted || verifyemailform.get('email')?.touched) && verifyemailform.get('email')?.errors?.['maxlength']">
              Email maximum length is 20 characters
            </small>
          </div>
         <!-- <a [routerLink]="['reset-password', userType]" > -->
          <button type="submit" class="btn login-btn" >verify</button>
        <!-- </a> -->
        </form>
        <div class="login-footer">
          <!-- <p class="text-center">you have remember
            <a [routerLink]="userType === 'customer' ? '/login/customer' : '/login/deliverypartner'" class="register-link">
             back to Login
            </a>
          </p> -->

        </div>
      </div>
   </div>
   </div>
</div>
</div>


