
<div class="address-section">
  <div class="address-section-bg">
    <app-header></app-header>

    <div class="address-section-header">

      </div>
      <div class="container">
        <div class="address">
          <div class="live-tracking content">
             <div class="live-tracking-header">
               <h1>Live Tracking</h1><hr>
               </div>
               <div class="address-body">
                     <div class="pickup-address-header">
                       <h3>Pickup Address</h3>
                       <h4>Order : ANCJHDJD</h4>
                       </div>
                       <div class="pickup-address-body">
                         <div class="pickup-order">

                         </div>
                         <div class="pickup-address">
                                 <h5>Address</h5>
                                 <p> 123, 4th cross, 5th main, 6th block, koramangala, bangalore, 560034</p>
                         </div>
                       </div>

               </div>
               <div class="address-body">
                <div class="pickup-address-header">
                  <h3>Drop Address</h3>
                  <h4>Order : ANCJHDJD</h4>
                  </div>
                  <div class="pickup-address-body">
                    <div class="pickup-order">

                    </div>
                    <div class="pickup-address">
                            <h5>Address</h5>
                            <p> 123, 4th cross, 5th main, 6th block, koramangala, bangalore, 560034</p>
                    </div>
                  </div>

          </div>
          </div>
          <div class="tracking-map">
          </div>

        </div>
  </div>
</div>
</div>




