<div class="city-section">
  <div class="city-section-bg">
    <app-header></app-header>

    <div class="city-section-header">

      <h1>Choose Your City</h1>
    </div>

    <div class="container">
        <div class="city-card">
            <img src="../../../../assets/img/abd.png" alt="Ahmedabad">
            <p>Ahmedabad</p>
        </div>
        <div class="city-card">
            <img src="../../../../assets/img/rajkot.png" alt="Bangalore">
            <p>Bangalore</p>
        </div>
        <div class="city-card">
            <img src="../../../../assets/img/abd.png" alt="Hyderabad">
            <p>Hyderabad</p>
        </div>
        <div class="city-card">
            <img src="../../../../assets/img/rajkot.png" alt="Jaipur">
            <p>Jaipur</p>
        </div>
        <div class="city-card">
            <img src="../../../../assets/img/abd.png" alt="Mumbai">
            <p>Mumbai</p>
        </div>
        <div class="city-card">
            <img src="../../../../assets/img/rajkot.png" alt="Vadodara">
            <p>Vadodara</p>
        </div>
        <div class="city-card">
            <img src="../../../../assets/img/abd.png" alt="Kolkata">
            <p>Kolkata</p>
        </div>
        <div class="city-card">
            <img src="../../../../assets/img/rajkot.png" alt="Rajkot">
            <p>Rajkot</p>
        </div>
    </div>
  </div>
</div>
