<div class="city-section">
  <div class="city-section-bg">
    <app-header></app-header>

    <div class="city-section-header">

      <h1>Choose Your City</h1>
    </div>

    <app-loader [isLoading]="loading"></app-loader>
    <div class="container"  >
        <div class="city-card" *ngFor="let city of cities"  (click)="selectcity(city)" [class.active]="city === selectedcity" >
            <img [src]="city.city_img" alt="city.city_name">
            <p>{{city.city_name}}</p>
        </div>

    </div>
  </div>
</div>
