

<div class="address-section">
  <div class="address-section-bg">
    <app-header></app-header>

    <div class="address-section-header">
      <!-- <h1>Choose Your Vehicle </h1> -->
      </div>
      <div class="container">
        <div class="payment">
           <div class="payment-header">
             <h1>Payment</h1>
             </div>
        <div class="payment-body">
             <div class="payment-img">
                  <!-- <img src="../../../assets/img/contact.png" alt=""> -->
             </div>
             <div class="payament-content">
               <h5>Payment Method :CASH ON DElivery</h5>
               <div class="payment-details">
                <p>Total Charge : 100</p>
               </div>
               <button class="btn login-btn">continue</button>
             </div>
        </div>
        </div>
  </div>
</div>
</div>



