<div class="main-hero">
 <div class="profile-bg">
    <h1 class="main-heading">Profile</h1>
    <div class="profile-container">
      <div class="profile-header">
        <div class="profile-header-main">
          <div class="profile-header-title">
            <h3>{{userdata.cust_name}}</h3>

         </div>
         <div class="profile-header-action">
            <div class="search">
              <i class="fa fa-search fa-2xl"></i><input type="text" placeholder="Search" >

            </div>
            <button class="notification">
              <i class="fa fa-bell "></i>
             </button>
             <!-- <button class="profile">
              <i class="fa fa-user"></i>
             </button> -->
         </div>
        </div>
     </div>
    </div>
    <div class="profile-container1">
      <app-notification></app-notification>
      <div class="profile-body">
       <app-loader [isLoading]="loading"></app-loader>
       <div class="profile-form-body">
        <form [formGroup]="profileForm" (ngSubmit)="updateprofile()" class="profile-form" #profileFormElement="ngForm">
          <div class="profile-header-2">
            <div class="profile-header-2-title">
               <h1>{{userdata.cust_name}}</h1>
               <small>{{userdata.cust_email}} </small>
            </div>
            <div class="profile-header-2-action">
              <div class="">
                <button class="btn" type="submit">Edit</button>
              </div>
          </div>

         </div>
          <!-- Name Fields -->
          <div class="profile-form-group form-group">
            <div class="profile-form-control">
              <div class="form-group profile-form-control1">
                <label for="fname">Email</label>
                <input type="text" id="fname" formControlName="cust_email" [value]="userdata.cust_email"  [disabled]="true">
              </div>
              <div class="form-group profile-form-control2">
                <label for="lname">Full Name</label>
                <input type="text" id="lname" placeholder="Full Name" formControlName="cust_name" value="{{userdata.cust_name}}">
              </div>
            </div>
          </div>

          <!-- Phone & Gender Fields -->
          <div class="profile-form-group form-group">
            <div class="profile-form-control">

              <div class="form-group profile-form-control1">
                <label for="phone">Phone</label>
                <input type="text" id="phone" placeholder="Phone" formControlName="cust_phone">
              </div>
              <div class="form-group profile-form-control2">
                <label for="street">Street</label>
                <input type="text" id="street" placeholder="Street" formControlName="street" >
              </div>

            </div>
          </div>

          <!-- Address Line 1 (Street, Landmark, Area) -->
          <div  class="profile-form-group form-group">
            <div class="profile-form-control">
              <div class="form-group profile-form-control2">
                <label for="area">Flatno</label>
                <input type="text" id="area" placeholder="Area" formControlName="flatno">
              </div>
              <div class="form-group profile-form-control2">
                <label for="landmark">Landmark</label>
                <input type="text" id="landmark" placeholder="Landmark" formControlName="landmark">
              </div>
            </div>


          </div>
          <!-- City & Zip Code -->
          <div class="profile-form-group form-group">
            <div class="profile-form-control">
              <div class="form-group profile-form-control1">
                <label for="city">City</label>
                <input type="text" id="city" placeholder="City" formControlName="city_name">
              </div>
              <div class="form-group profile-form-control2">
                <label for="zip">Zip</label>
                <input type="text" id="zip" placeholder="Zip" formControlName="pincode">
              </div>
            </div>
          </div>


        </form>

     </div>

    </div>
    </div>
</div>

</div>
