<div class="main-hero">
 <div class="profile-bg">
    <h1 class="main-heading">Profile</h1>
    <div class="profile-container">
      <div class="profile-header">
        <div class="profile-header-main">
          <div class="profile-header-title">
            <h3>Welcome Manba</h3>
            <span>28 Nov 2024 </span>
         </div>
         <div class="profile-header-action">
            <div class="search">
              <i class="fa fa-search fa-2xl"></i><input type="text" placeholder="Search" >

            </div>
            <button class="notification">
              <i class="fa fa-bell "></i>
             </button>
             <button class="profile">
              <i class="fa fa-user"></i>
             </button>
         </div>
        </div>
     </div>
    </div>
</div>
<div class="profile-container1">
  <div class="profile-body">
   <div class="profile-header-2">
      <div class="profile-header-2-title">
         <h1>Manba chauhan</h1>
         <small>{{"manba@gmail.com"}} </small>
      </div>
      <div class="profile-header-2-action">
          <div class="">
            <button class="btn">Edit</button>
          </div>
      </div>
   </div>
   <div class="profile-form-body">
    <form class="profile-form">
       <div class="profile-form-group">
          <div class="profile-form-control">
             <div class="profile-form-control1">
                <label for="fname">First Name</label>
                <input type="text" id="fname" placeholder="First Name">
             </div>
             <div class="profile-form-control2">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" placeholder="Last Name">
             </div>
          </div>
       </div>

       <div class="profile-form-group">
          <div class="profile-form-control">
             <div class="profile-form-control1">
                <label for="phone">Phone</label>
                <input type="text" id="phone" placeholder="Phone">
             </div>
             <div class="profile-form-control2">
                <label for="gender">Gender</label>
                <input type="text" id="gender" placeholder="Gender">
             </div>
          </div>
       </div>

       <div class="profile-form-group">
          <div class="profile-form-control">
             <div class="profile-form-control1">
                <label for="address1">AddressLine 1</label>
                <input type="text" id="address1" placeholder="Address Line 1">
             </div>
             <div class="profile-form-control2">
                <label for="address2">AddressLine 2</label>
                <input type="text" id="address2" placeholder="Address Line 2">
             </div>
          </div>
       </div>

       <div class="profile-form-group">
          <div class="profile-form-control">
             <div class="profile-form-control1">
                <label for="city">City</label>
                <input type="text" id="city" placeholder="City">
             </div>
             <div class="profile-form-control2">
                <label for="zip">Zip</label>
                <input type="text" id="zip" placeholder="Zip">
             </div>
          </div>
       </div>
    </form>
 </div>

</div>
</div>
</div>
