<div class="main">
  <!-- <app-header></app-header> -->

  <div class="content">
    <div class="header">
      <div class="sort-order">
        <label for="sort">Filter </label>
        <div class="dropdown">
          <select [formControl]="selectedFilter">
            <option value="all">all</option>
            <option value="today">Today</option>
            <option value="yesterday">Yesterday</option>
            <option value="last_week">Last Week</option>
            <option value="last_month">Last Month</option>
          </select>

        </div>
      </div>
      <div class="profile-header-action">

        <button class="notification">
          <i class="fa fa-bell "></i>
        </button>
        <div class="main-profile">
          <!-- Profile Button -->
          <!-- <button class="profile" (click)="toggleDropdown()">
            <i class="fa fa-user"></i>
            <span class="username">John Smith</span>
            <i class="fa fa-chevron-down dropdown-icon"></i>
          </button> -->

          <!-- Dropdown Content -->
          <!-- <div class="user-info" *ngIf="isDropdownOpen">

            <a href="#">Profile</a>
            <a href="#">Logout</a>
          </div> -->
        </div>


      </div>
    </div>
    <div class="dashboard">
      <h2>Dashboard</h2>
      <div class="stats">
        <div class="stat">
          <div class="content-stat">
            <p><p>{{ totlePedingOrders()}}</p>
            <span>New Orders</span>
          </div>
        </div>
        <div class="stat">
          <div class="content-stat">
            <!-- <p>Pending Orders: {{ orders?.filter(order => order.order_status === 'pending')?.length || 0 }}</p> -->

            <p>{{ totleAcceptedOrders()}}</p>
            <span>Pickup</span>
          </div>
        </div>
        <div class="stat">
          <div class="content-stat">
            <p>{{  totaleInProgressOrders() }}</p>
            <span>Progress</span>
          </div>
        </div>
        <div class="stat">
          <div class="content-stat">
            <p>{{ totleDeliveredOrders() }}</p>
            <span>Delivered</span>
          </div>
        </div>

      </div>
      <app-notification></app-notification>
      <div class="table-container">
        <h3>Order List</h3>
        <table>
          <app-loader [isLoading]="loading"></app-loader>
          <thead>
            <tr>
              <th>Order No.</th>
              <th>Customer Name</th>
              <th>Order Date</th>
              <th>Pickup Address</th>
              <th>Drop Address</th>
              <th>Order Charge</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor=" let order of  paginatedOrders ">
              <td>{{ order.id}}</td>
              <td>{{ order.cust_name }}</td>
              <td>{{ order.order_date | date }}</td>
              <td>{{ order.pickup_address }}</td>
              <td>{{ order.drop_address }}</td>
              <td>{{ order.order_delivery_charge |  currency:'INR' }}</td>
              <td><span [class]="getStatusClass(order.order_status)">{{ order.order_status }}</span></td>
              <td>

                <div class="order-btn" *ngIf="order.order_status === 'pending'">
                  <button *ngIf="order.order_status === 'pending' " (click)="acceptOrder(order)"
                  class="btn btn-success">Accept</button>
<!--
                  <button *ngIf="order.order_status === 'pending'" (click)="rejectOrder(order)"
                  class="btn btn-success">Reject</button> -->
                </div>
                <div *ngIf="order.order_status === 'pickup'" class="order-otp" >

                  <input type="number" placeholder="Enter OTP" [formControl]="otp" class="otp-input">
                  <div *ngIf="order.order_status === 'pickup'">
                    <button (click)="verifyOtp(order)" class="btn btn-primary">Verify OTP</button>
                </div>

                </div>

                <ng-container *ngIf="order.order_status !== 'pending' && order.order_status !== 'pickup'">
                  <button *ngIf="order.order_status !== 'delivered' "
                  (click)="updateOrderStatus(order, getNextStatus(order.order_status))" class="btn btn-primary">
                  {{ getNextActionText(order) }}
                </button>
                </ng-container>
                </td>
            </tr>
            <tr *ngIf="paginatedOrders.length === 0">
              <td colspan="8" class="no-orders">
                <p>No orders available</p>
              </td>

              <tr>
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <button class="btn" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button class="btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>


    </div>


  </div>
</div>
