<div class="login">
    <div class="row">
     <div class="left">
      <div class="login-image-container">
        <img src="../../../assets/img/forgotpassword.png" alt="login" class="login-image">
      </div>
     </div>
     <div class="right">
      <div class="logo-container">
       <div class="logo">
        <img src="../../../assets/img/logo.png" alt="logo" class="logo-img">
       </div>
      </div>
      <app-notification></app-notification>
      <div class="login-container">
        <div class="login-header">
          <div class="login-icon">
            <i class="fa-regular fa-envelope fa-2xl" style="color: #000"></i>
          </div>
          <h2> Check Your Mail !</h2>
        </div>
        <div class="login-body">
          <app-loader [isLoading]="loading"></app-loader>
          <form [formGroup]="verifyOTPForm" (ngSubmit)="verifyOTP()" #verifyOTPFormElement="ngForm">
            <div class="form-group">
              <label for="OTP">OTP</label>
              <input type="number" formControlName="otp" class="form-control" id="otp"
               placeholder="Enter OTP">
            </div>

            <button type="submit" class="btn login-btn">continue Now</button>
          </form>
          <div class="login-footer">
            <p class="text-center">you have remember
              <a [routerLink]="userType === 'customer' ? '/customer/login' : '/dpartner/login'" class="register-link">
               resend OTP
              </a>
            </p>

          </div>
        </div>
     </div>
     </div>
  </div>
  </div>


