<header class="header">
  <div class="header-container">
    <div class="logo">
      <img src="../../../../assets/img/logo.png" alt="logo">
    </div>
    <nav class="navbar">
      <div class="menu">
        <button class="burger-menu" (click)="toggleMenu()" aria-label="Toggle navigation">
          ☰
        </button>
        <div class="nav">
          <div class="">
            <div class="sidebar-overlay" [class.active]="menuActive" (click)="toggleMenu()"></div>
            <div class="sidebar" [class.active]="menuActive">
              <button class="close-btn" (click)="toggleMenu()">✖</button>
              <nav class="sidebar-nav">
                <ul>
                  <li><a routerLink="" (click)="toggleMenu()">Home</a></li>
                  <li><a routerLink="/about" (click)="toggleMenu()">About Us</a></li>
                  <li><a routerLink="/contact" (click)="toggleMenu()">Contact</a></li>

                  <!-- Show these only if the user is logged in -->

                </ul>
              </nav>
            </div>
          </div>

          <ul class="nav-list">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>

          </ul>
        </div>
      </div>

      <div class="navbar2">
        <ul>
          <!-- <li *ngIf="isUserLoggedIn"><a routerLink="/dashboard" (click)="toggleMenu()">Dashboard</a></li>
          <li *ngIf="isUserLoggedIn"><a routerLink="/profile" (click)="toggleMenu()">Profile</a></li>
          <li *ngIf="isUserLoggedIn"><a href="javascript:void(0)" (click)="logout()">Logout</a></li> -->
          <li *ngIf="!isUserLoggedIn">
            <div class="dropdown">
              <button class="dropbtn btn">Login</button>
              <div class="dropdown-content">
                <a [routerLink]="['/customer/login']">Login as Customer</a>
                <hr>
                <a [routerLink]="['/dpartner/login']">Login as Delivery Partner</a>
              </div>
            </div>
          </li>
           <li><a routerLink="order/select-city"><button class="btn">Book a delivery</button></a></li>
           <li *ngIf="isUserLoggedIn" class="last-child">
            <div class="main-info">
              <button class="profile-info" (click)="toggleProfileDropdown($event)">
                <i class="fa fa-user fa-1x"></i>
                <span class="username">{{ getDisplayName() }} <i class="fa fa-angle-down"></i></span>
              </button>
              <div class="main-user-info">
                <ul class="user-info"  *ngIf="isProfileDropdownOpen">
                  <li><a routerLink="/customer/dashboard" (click)="closeDropdown($event)"><i class="fa fa-user-astronaut"></i> Dashboard</a></li>
                  <li><a routerLink="/customer/profile" (click)="closeDropdown($event)"><i class="fa fa-user-astronaut"></i> Profile</a></li>
                  <li><a routerLink="javascript:void(0)" (click)="logout(); closeDropdown($event)"><i class="fa fa-sign-out-alt"></i> Logout</a></li>
                </ul>
              </div>
            </div>
          </li>

          </ul>
      </div>
    </nav>
  </div>
</header>
<!-- <router-outlet></router-outlet> -->
