<header class="header">
  <div class="header-container">
    <div class="logo">
      <img src="../../../../assets/img/logo.png" alt="logo">
    </div>

    <!-- Burger Menu Icon -->
    <nav class="navbar" [class.active]="menuActive">
      <div class="burger-menu" (click)="toggleMenu()" [class.active]="menuActive">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="nav">
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="navbar2">
        <ul>
          <li><a [routerLink]="['/login', userType]">Login</a></li>
          <li><a routerLink="customer/signup" ><button class="btn">Book a delivery</button></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
