<div class="section2">
  <div class="section2-center">
    <div class="left-section">
      <div class="left-section-content">
        <img src="../../../../assets/img/about2.png" alt="img">
      </div>
    </div>
    <div class="right-section">
      <div class="right-section-content">
        <div class="right-section-subcontent">
          <div class="right-section-content-title">
            <h1>ABOUT US</h1>
          </div>
          <div class="right-section-content-description">
            <h2>move your product<br> across all borders</h2>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div>
        <div class="right-section-content-card">
          <div class="right-section-card1">
            <div class="right-section-card1-img">
              <img src="../../../../assets/img/abouticon2.png" alt="img">
            </div>
            <div class="right-section-card1-content">
              <h4>Free Estimate</h4>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
          <div class="right-section-card1">
            <div class="right-section-card1-img">
              <img src="../../../../assets/img/abouticon2.png" alt="img">
            </div>
            <div class="right-section-card1-content">
              <h4>Free Estimate</h4>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
