

<div class="address-section">
    <div class="address-section-bg">
      <app-header></app-header>

      <div class="address-section-header">
      
        </div>
        <div class="container">
          <div class="payment">
          <div class="payment-body">
               <div class="payament-content">
                <h1>Thank you </h1>
                 <h5>Your Order Successfully Placed</h5>
                 <button class="btn login-btn">Track Order</button>
               </div>
          </div>
          </div>
    </div>
  </div>
  </div>



