<div class="login">
  <div class="row">
   <div class="left">
    <div class="login-image-container">
      <img src="../../../assets/img/forgotpassword.png" alt="login" class="login-image">
    </div>
   </div>
   <div class="right">
    <div class="logo-container">
     <div class="logo">
      <img src="../../../assets/img/logo.png" alt="logo" class="logo-img">
     </div>
    </div>
    <app-notification></app-notification>
    <div class="login-container">
      <app-loader [isLoading]="loading"></app-loader>
      <div class="login-header">
        <div class="login-icon">
          <i class="fa-solid fa-unlock"></i>
        </div>
        <h2> {{ userType === 'customer' ? 'Customer' : 'Delivery Partner' }} Forgot Password</h2>
      </div>
      <div class="login-body">
        <form [formGroup]="forgotpasswordform" (ngSubmit)="forgotpassword()" #forgotPasswordElement="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
            <small class="text-danger" *ngIf="(submitted || forgotpasswordform.get('email')?.touched) && forgotpasswordform.get('email')?.errors?.['required']">
              Email is required
            </small>
            <small class="text-danger" *ngIf="(submitted || forgotpasswordform.get('email')?.touched) && forgotpasswordform.get('email')?.errors?.['email']">
              Email is invalid
            </small>
          </div>
         <!-- <a [routerLink]="['reset-password', userType]" > -->
          <button type="submit" class="btn login-btn" >Send Mail</button>
        <!-- </a> -->
        </form>
        <div class="login-footer">
          <p class="text-center">you have remember
            <a [routerLink]="userType === 'customer' ? '/customer/login' : '/dpartner/login'" class="register-link">
             back to Login
            </a>
          </p>

        </div>
      </div>
   </div>
   </div>
</div>
</div>


