<div class="section1">
  <div class="card-section">
    <div class="about-us-box1">
    <div class="content">
      <div class="content1">
        <h2>About Us</h2>
        <h3>safely moving your valuable products</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer.</p>

       </div>
       <div class="content2">
          <div class="card">
            <div class="img1">
              <img src="../../../../assets/img/abouticon2.png" alt="img">
             </div>
             <div class="about-content">
               <h4>Free Estimate</h4>
               <p>Lorem ipsum dolor sit amet  Corporis sequi tempor.</p>
             </div>

          </div>
          <div class="card">
            <div class="img1">
              <img src="../../../../assets/img/aboutiocn1.png" alt="img">
             </div>
             <div class="about-content">
               <h4>24|7 Services</h4>
               <p>Lorem ipsum dolor sit amet  Corporis sequi tempor.</p>
             </div>

          </div>

        </div>
    </div>
    </div>
    <div class="about-us-box2">
            <div class="about-img">
              <!-- <img src="../../../../assets/img/about_section_img 1.png" alt="img"> -->
            </div>
    </div>
  </div>
</div>
