<div class="login">
    <div class="row">
     <div class="left">
      <div class="login-image-container">
        <img src="../../../assets/img/forgotpassword.png" alt="login" class="login-image">
      </div>
     </div>
     <div class="right">
      <div class="logo-container">
       <div class="logo">
        <img src="../../../assets/img/logo.png" alt="logo" class="logo-img">
       </div>
      </div>
      <app-notification></app-notification>
      <div class="login-container">
        <div class="login-header">
          <div class="login-icon">
            <i class="fas fa-arrow-right-long"></i>
          </div>
          <h2> ResetPassword </h2>
        </div>
        <div class="login-body">
          <app-loader [isLoading]="loading"></app-loader>
          <form [formGroup]="resetpasswordform" (ngSubmit)="resetpassword()" #resetPasswordElement="ngForm">
            <div class="form-group">
              <label for="password">New Password</label>
              <div class="password-wrapper">
                <input  [type]="showPassword ? 'text' : 'password'"  formControlName="password" class="form-control" id="password" placeholder="Password">
                <span class="toggle-password" (click)="togglePasswordVisibility()">
                  <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                </span> </div>
              <small class="text-danger"
                *ngIf="(submitted || resetpasswordform.get('password')?.touched) && resetpasswordform.get('password')?.errors?.['required']">
                Password is required
               </small>

              <small class="text-danger"
                *ngIf="resetpasswordform.get('password')?.errors?.['minlength '] && resetpasswordform.get('password')?.touched">
                Password must be at least 8 characters
              </small>

              <small class="text-danger"
                *ngIf="resetpasswordform.get('password')?.errors?.['maxlength'] && resetpasswordform.get('password')?.touched">
                Password must not exceed 15 characters
              </small>

              <small class="text-danger"
                *ngIf="resetpasswordform.get('password')?.errors?.['pattern'] && resetpasswordform.get('password')?.touched">
                Password must contain at least one uppercase, one lowercase letter, and one number
              </small>
            </div>
            <div class="form-group">
              <label for="password">Confirm Password</label>
              <div class="password-wrapper">
                <input  [type]="showPassword ? 'text' : 'password'"  formControlName="confirmpassword" class="form-control" id="password" placeholder="Password">
                <span class="toggle-password" (click)="togglePasswordVisibility()">
                  <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                </span> </div>
              <small class="text-danger"
                *ngIf="(submitted || resetpasswordform.get('confirmpassword')?.touched ) &&  resetpasswordform.hasError('passwordMismatch')">
           Passwords do not match
         </small>
            </div>
           <a>
             <button type="submit" class="btn login-btn" >Reset</button></a>

          </form>

        </div>
     </div>
     </div>
  </div>
  </div>

