<div class="container1">
  <div class="content">
    <div class="content1">
      <div class="heading">
       <h1>Our Work</h1>
       <h4>we create a honest, hassle-free and quality moving experience</h4>
      </div>
      </div>
      <div class="conten2">
          <div class="work-section1">
            <div class="work-img">
               <img src="../../../../assets/img/about3.png" alt="section3-img1">
            </div>
          </div>
          <div class="work-section1">
             <div class="work-grid">
                 <div class="work-grid1">

                     <div class="work-grid-content">
                         <h3>12000</h3>
                         <p>SATISFIED CLIENTS</p>
                     </div>
                 </div>
                 <div class="work-grid1">

                   <div class="work-grid-content">
                       <h3>96000</h3>
                       <p>SATISFIED CLIENTS</p>
                   </div>
               </div>
               <div class="work-grid1">

                 <div class="work-grid-content">
                     <h3>1500</h3>
                     <p>experienced TEEM</p>
                 </div>
             </div>
             <div class="work-grid1">

               <div class="work-grid-content">
                   <h3>60+</h3>
                   <p>BRANCHES</p>
               </div>
           </div>
             </div>
          </div>
      </div>
  </div>
</div>
