

<div class="login">

  <div class="row">

    <div class="left">
      <div class="login-image-container">
        <img src="../../../assets/img/loginbg.png" alt="login" class="login-image">
      </div>
    </div>

    <div class="right">

      <div class="logo-container">
        <div class="logo">
          <img src="../../../assets/img/logo.png" alt="logo" class="logo-img">
        </div>
      </div>
      <app-notification></app-notification>
      <div class="login-container">

        <div class="login-header">
          <div class="login-icon">
            <i class="fas fa-arrow-right-long"></i>
          </div>
          <h2>Signup</h2>
        </div>

        <div class="login-body">
          <app-loader [isLoading]="loading"></app-loader>
          <form [formGroup]="customersignup" (ngSubmit)="signupForm()"  #signupFormElement="ngForm">

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
              <small class="text-danger"
              *ngIf="(submitted || customersignup.get('email')?.touched) && customersignup.get('email')?.errors?.['required']">
              Email is required
            </small>

            </div>

            <!-- Password -->
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" class="form-control" id="password"
                placeholder="Password">
              <small class="text-danger"
                *ngIf="(submitted || customersignup.get('password')?.touched) && customersignup.get('password')?.errors?.['required']">
                Password is required
              </small>

              <small class="text-danger"
                *ngIf="customersignup.get('password')?.errors?.['minlength '] && customersignup.get('password')?.touched">
                Password must be at least 8 characters
              </small>

              <small class="text-danger"
                *ngIf="customersignup.get('password')?.errors?.['maxlength'] && customersignup.get('password')?.touched">
                Password must not exceed 15 characters
              </small>

              <small class="text-danger"
                *ngIf="customersignup.get('password')?.errors?.['pattern'] && customersignup.get('password')?.touched">
                Password must contain at least one uppercase, one lowercase letter, and one number
              </small>
            </div>

            <!-- Confirm Password -->
            <div class="form-group">
              <label for="confirmpassword">Confirm Password</label>
              <input type="password" formControlName="confirmpassword" class="form-control" id="confirmpassword"
                placeholder="Confirm Password">
                <small class="text-danger"
                *ngIf="(submitted || customersignup.get('confirmpassword')?.touched ) &&  customersignup.hasError('passwordMismatch')">
           Passwords do not match
         </small>
            </div>

            <!-- Signup Button -->
            <button type="submit" class="btn login-btn" >
              <span *ngIf="!loading">Signup</span>
              <span *ngIf="loading">Processing...</span></button>
          </form>

          <div class="login-footer">
            <p class="text-center">Already have an account? <a [routerLink]="['/customer/login']" class="link">Login</a></p>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
