* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Ensure the login container takes full viewport height */
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.left {
  width: 50%;
  /* overflow: hidden; Ensure no overflow */
}

.login-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Ensure the image container takes full height */
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* margin-top: 40px; */
}

.logo-container {

  margin-bottom: 10px;
}
.logo {
  float: right;
}
.login-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 20px 20px 20px 20px #edeaea;
  border-radius: 20px;
  padding: 40px;
  margin-top:100px;
  /* text-align: center; */



}
.login-container h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 28px;
  text-align: center;
}
.login-icon{
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 20px;
  /* background-color:green; */
  text-align: center;
}
.login-icon i{
  color: black;
  line-height: 60px;
  font-size: 30px;
 
}
.login-container input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;

}
/* .center{
  width: 100%;

} */
.text-right {
 display: flex;
 flex-direction: row-reverse;
  justify-content: space-between;
}
.text-left{
  display: flex;
  flex-direction: row;
}
.text-left input{
  font-size: 10px;

}
 a{
  text-decoration: none;
  color: var(--primary-color);
}
.login-btn{
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1.5px;
}
.login-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .row {
    flex-direction: column-reverse;

  }
  .left, .right {
    width: 100%;
    height: 100%;
  }
  .right{
    margin-top: 0px;
  }
  .left img{
    padding: 20px;
    border-radius: 15px;
  }
  .login-container{
    width: 100%;
  }
  .login-container input{
    padding: 10px;
    font-size: 14px;
  }

}

@media screen and (max-width: 576px) {
  .login-image-container {
    /* height: 200px; Adjust height for smaller screens */
    display: none;
  }
  .right {
    padding: 10px;
  }
  .right {
    padding: 10px;
  }
  .login-container{
    width: 100%;
    margin-top: 0;
  }
  .right{
    margin-top: 0px;
  }
  .login-container input{
    padding: 10px;
    font-size: 14px;
  }
  .login-container label{
    font-size: 14px;
  }
  .login-footer p{
    font-size: 12px;
    word-wrap: nowrap;
  }
  .login-btn{
    font-size: 16px;
    padding: 10px;
  }
  .logo-container{
    margin-bottom: 20px;
  }
  .text-right a{
    font-size: 12px;
  }
}
