<div class="login" >
  <div class="row">
   <div class="left">
    <div class="login-image-container">
      <img src="../../../assets/img/forgotpassword.png" alt="login" class="login-image">
    </div>
   </div>
   <div class="right">
    <div class="logo-container">
     <div class="logo">
      <img src="../../../assets/img/logo.png" alt="logo" class="logo-img">
     </div>
    </div>
    <div class="login-container">
      <div class="login-header">
        <div class="login-icon">
         <i class="fa-solid fa-circle-check fa-2xl" style="color:green; width:100%; height:100%;"></i>
        </div>
        <h2> Password Changed</h2>
      </div>
      <div class="login-body">

          <a [routerLink]="['/login', userType]">
          <button type="submit" class="btn login-btn">Login Now</button></a>
      </div>
   </div>
   </div>
</div>
</div>



