<div class="features">
  <div class="feature-main">
    <div class="feature1">
      <div class="feature-icon">
        <i class="fa-solid fa-user-large fa-2xl" style="color: #fff;"></i>
      </div>
      <div class="feature-text">
         <a class="text" routerLink="customer/verify-email">For Customer</a>
      </div>

    </div>
    <div class="feature2">
      <div class="feature-icon">
        <i class="fa-solid fa-people-carry-box fa-2xl" style="color: var(--primary-color);"></i>
      </div>
      <div class="feature-text">
         <a class="text-dpartner" routerLink="dpartner/verify-email">For Delivery Partners</a>
      </div>
    </div>
  </div>

</div>
