<div class="container1">
    <div class="content">
        <div class="conten2">

            <div class="work-section1">
              <div class="right-section-content-card">
                <div class="right-section-card1">
                  <div class="right-section-card1-img">
                    <i class="fa-solid fa-location-dot fa-2xl"
                    style="color:var(--primary-color);"></i>
                  </div>
                  <div class="right-section-card1-content">
                    <h2>Location</h2>
                    <p>23- Envato Street Aveneue, United Kingdom.</p>
                  </div>
                </div>
                <div class="right-section-card1">
                  <div class="right-section-card1-img">
                    <i class="fa-solid fa-phone-volume fa-2xl" style="color:var(--primary-color); "></i>
                  </div>
                  <div class="right-section-card1-content">
                    <h2>Phone</h2>
                    <p>+(234) 567-8901</p>
                  </div>
                </div>
                <div class="right-section-card1">
                  <div class="right-section-card1-img">
                    <i class="fa-regular fa-envelope fa-2xl" style="color:var(--primary-color);"></i>
                  </div>
                    <div class="right-section-card1-content">
                    <h2>Email</h2>
                    <a routerLink="test@gmail.com">test&ngmail.com</a>
                  </div>
                </div>

              </div>
            </div>
            <div class="work-section1">
              <div class="work-img">
                 <img src="../../../../assets/img/contact.png" alt="section3-img1">
              </div>
            </div>
        </div>
    </div>
  </div>
